@using Microsoft.EntityFrameworkCore

@typeparam DataType

<table class="@Class">
    <thead>
        <tr>
            <CascadingValue Value="this" Name="Table">
                @ChildContent
            </CascadingValue>
        </tr>
    </thead>
    <tbody>

        @if (items.Any())
        {
            foreach (var item in items)
            {
                <tr>
                    @foreach (var column in columns)
                    {
                        <td>
                            @if (column.Template is null)
                            {
                                var prop = column.CompiledProperty;
                                var value = prop(item);
                                @value
                            }
                            else
                            {
                                var fragment = column.Template(item);
                                @fragment
                            }
                        </td>

                    }
                </tr>
            }
        }
        else
        {

        }
    </tbody>

    <tfoot>
        <button @onclick="FirstPageClicked" class="btn btn-primary @(FirstPageEnabled ? "" : "disabled")">First</button>
        <button @onclick="PrevPageClicked" class="btn btn-primary @(PrevPageEnabled ? "" : "disabled")">Previous</button>

        @*    @for (var pn = pageSelectStart; pn <= pageSelectEnd; pn++)
            {
            <button @onclick="()=> SetPageIndex(pn-1)" class="btn btn-link">Next</button>
            }*@

        <p>@itemsCount</p>

        <button @onclick="NextPageClicked" class="btn btn-primary @(NextPageEnabled ? "" : "disabled")">Next</button>
        <button @onclick="LastPageClicked" class="btn btn-primary @(LastPageEnabled ? "" : "disabled")">Last</button>
    </tfoot>
</table>

